# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
npm-debug.log*
yarn-error.log

package-lock.json

log

# production
dist

# misc
.DS_Store

.bundles

actions_zip
widgets_zip

src_zip

__app_info__.json